<section id="todo-list">
  <ul>
    <%= for todo <- @todos do %>
    <li>
      <div class="item">
        <a href="<%= todo.url %>"><%= todo.description %></a>
        <span><%= todo.due_date %></span>
      </div>
    </li>
  <% end %>
  </ul>
</section>
