<section id="todo-list">
  <ul>
    <li>
      <div class="item">
        <a href="http://cheese.com">Compilers</a>
        <span>24/12/15</span>
      </div>
    </li>
    <li>
      <div class="item">
        <a href="http://cheese.com">Compilers</a>
        <span>24/12/15</span>
      </div>
    </li>
  </ul>
</section>
